<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid">
  <h1>
    Welkom bij {{ title }}!
  </h1>

  <div>
  Ingredient
  <input type="text" [formControl]="observableIngredient" placeholder="">
  </div>

  <table class="table table-sm">
    <tr>
      <th scope="col">Naam</th>
      <th scope="col">Ingredienten</th>
    </tr>

    <tr *ngFor="let broodje of filteredList">
      <td>
        {{broodje.naam}}
      </td>
      <td>
      <app-broodje [ingredients]="broodje.ingredienten" [selectedIngredients]="matchedIngredients"></app-broodje>

      </td>
    </tr>
  </table>
  <router-outlet></router-outlet>

</div>

